<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1}">

<div layout:fragment="content">
  <form class="container" th:action="@{/article/new}" th:object="${articleForm}" method="post">
    <div class="mb-3">
      <label class="form-label">제목</label>
      <input th:field="*{title}"type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
      <label class="form-label">내용</label>
      <textarea th:field="*{content}"type="submit" class="form-control" rows="3" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
